* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  padding: 150px 50px;
  background-color: #fbfbfb;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  .auth {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   // padding: 40px 50px;
    border-radius: 2rem;
    width: 80%;
    border: 1px solid #000;
    h4 {
      color: #000;
      margin-bottom: 30px;
      text-align: center;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 20px;    }
    form {
      margin: 1rem;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
      .formGroup {
        //width: calc(50% - 10px);
        width: 20%;
        display: flex;
        flex-direction: column;
       // position: relative;
        span {
          color: #000;
          margin-bottom: 12px;
          font-size: 13px;
          font-weight: 500;
        }
        .datePicker{
          border-radius: 15px;
          height: 50px;
          border: 1px solid #000;
          color: #000;
          padding: 0 30px;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          width: 100%; // Adjust width as needed
        }
        input {
          border-radius: 15px;
          height: 50px ;
          border: 1px solid #000;
          color: #000;
          padding: 0 30px;
          font-size: 14px;
          font-weight: 400;
          outline: none;
        }
        select {
          border-radius: 15px;
          height: 50px !important;
          border: 1px solid #000;
          color: #000;
          padding: 0 30px !important;
          font-size: 14px;
          font-weight: 400;
          outline: none;
        }
      }

      
    }
    button[type="submit"] {
        width: 404px;
        padding: 12px 42px;
        transition: 0.3s ease;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        color: #fff;
        background-color: #f79d1c;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 20px;

        &:hover {
          background-color: #fdbd63;
        }
        &:active{
          background-color: #f79d1c;
        }
      }
  }
}

@media screen and (min-width: 300px) and (max-width: 576px) {
   
}

@media screen and (min-width: 576px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 992px) {
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
}
