* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.questions {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    .title {
      background-color: #fffcf4;
      padding: 75px 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //margin: 30px;
      h2 {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
      }
      p {
        color: #888;
        max-width: 550px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
    }
    .questionList {
      margin-top: 65px;
      display: flex;
      flex-wrap: wrap;
      gap: 56px;
      margin-bottom: 30px;
      .accordion {
        width: calc(50% - 28px);
        display: flex;
        flex-direction: column;
        .accordionHeading {
          color: #000;
          margin-bottom: 16px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::after {
            width: 32px;
            height: 32px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("https://kango.az/new-assets/css/images/select.svg");
            transition: 0.3s ease;
            
            content: "";
            //transform: rotate(180deg);
          }
          &:active {
            &::after{
            transform: rotate(180deg);     
            }
           
            .accordionPanel {
              display: block;
            }
          }
        }
      }
      .accordionPanel {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;/* Metin sonunu üç nokta ile kısalt */
        height: 48px;
        transition: 0.5s ease;
        color: #7b7b7b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        &:active {
          height: 350px;
          text-overflow: unset;
          display: block;
        }
      }
    }
  }
}
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Inter", sans-serif;
//   }
  
//   .questions {
//     width: 100%;
//     min-height: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     .container {
//       width: 80%;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       flex-direction: column;
//       gap: 20px;
  
//       .title {
//         background-color: #fffcf4;
//         padding: 75px 20px;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
  
//         h2 {
//           color: #000;
//           font-size: 32px;
//           font-weight: 600;
//           line-height: normal;
//           margin-bottom: 20px;
//         }
  
//         p {
//           color: #888;
//           max-width: 550px;
//           text-align: center;
//           font-size: 16px;
//           font-weight: 400;
//           line-height: 26px;
//         }
//       }
  
//       .questionList {
//         margin-top: 85px;
//         display: flex;
//         flex-wrap: wrap;
//         gap: 56px;
  
//         .accordion {
//           width: calc(50% - 28px);
//           display: flex;
//           flex-direction: column;
  
//           .accordionHeading {
//             color: #000;
//             margin-bottom: 16px;
//             font-size: 16px;
//             font-weight: 600;
//             line-height: normal;
//             cursor: pointer;
//             position: relative;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
  
//             &::after {
//               width: 32px;
//               height: 32px;
//               background-position: center;
//               background-repeat: no-repeat;
//               background-image: url("https://kango.az/new-assets/css/images/select.svg");
//               transition: transform 0.3s ease;
//               content: "";
//             }
  
//             &.active::after {
//               transform: rotate(180deg);
//             }
  
//             .accordionPanel {
//               display: none;
//               -webkit-box-orient: vertical;
//               overflow: hidden;
//               -webkit-line-clamp: 2;
//               text-overflow: ellipsis;
//               height: 48px;
//               transition: height 0.5s ease, text-overflow 0.5s ease;
  
//               &:active,
//               &.active {
//                 height: auto;
//                 text-overflow: unset;
//                 display: block;
//               }
//             }
  
//             &:active {
//               .accordionPanel {
//                 display: block;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
  