.sectionOne {
    // Burada sectionOne bileşeninin genel stilleri tanımlanabilir
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url('https://kango.az/new-assets/images/slide_back.webp');
    .containerOne {
      // Burada containerOne bileşeninin genel stilleri tanımlanabilir
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      .carouselSlide {
        position: relative;
      }
  
      .carouselInner {
        position: relative;
        width: 100%;
        overflow: hidden;
       // @include clearfix();
        .carousel-item {
            position: relative;
            display: none;
            float: left;
            width: 100%;
            margin-right: -100%;
            backface-visibility: hidden;
            //@include transition($carousel-transition);
  
          &.carousel-item-active {
            display: block;
          }
  
          img {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            z-index: 1;
          }
  
          .titlePositionAbsolute {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;
  
            p {
              font-size: 24px;
              color: #fff; // Başlık rengi
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); // Başlık gölgesi
              margin-bottom: 0;
  
              span {
                display: block;
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
              }
            }
          }
  
          .imagePositionAbsolute {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
  
            img {
              max-width: 100%;
              height: auto;
              display: inline-block;
            }
          }
        }
      }
  
      .carouselIndicators {
        //position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        z-index: 3;
  
        button {
          background-color: rgba(255, 255, 255, 0.5); // Gösterge düğmesi arka plan rengi
          border: none;
          width: 12px; // Düğme genişliği
          height: 12px; // Düğme yüksekliği
          margin: 0 5px; // Düğmeler arası boşluk
          padding: 0;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &.active {
            background-color: #fff; // Aktif düğme arka plan rengi
          }
        }
      }
    }
  }
  